.App {
  text-align: center;
}

/* add .center as you will be using it a lot */
.center {
  display: flex;
  justify-content: center;
}

.particles {
  /* fixed position makes everything stays even if you scroll */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index is used when you used position fixed or absolute to set which layer you want the image to be on */
  /* -1 means to be below */
  z-index: -1;
}