body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", 'Courier New', Courier, monospace;
  
  /* add background gradient */
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
  /* makes background fit window */
  height: 100vh;
}

/* makes all buttons have a cursor change into a pointer when hovered */
button {
  cursor: pointer;
}